body {
    background-color: dodgerblue;
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: tomato;
    width: 300px;
    height: 300px;
    border-radius: 20px;


}

h3 {
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.5em;
    padding: 15px;

}

.hex-color {
    border: 2px dashed #fff;
    background-color: teal;
    padding: 3px;
    color: #fff;
    font-size: bold;
    width: 70px;
    text-align: center;


}

.btn {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}
.btn:active {
    transform: translateY(-5px);
}
.btn:hover {
    background-color: dodgerblue;
    color: #fff;
    border: none;
}